.title {
font-family: Verdana;
font-size: 70px;
color: white;
text-align: center;
}

.divider {
  color: #f1daf5;
}

.user_input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.input {
  margin: auto;
  width: 50%;
  padding: 2px;
  border-width: 3px;
  border-radius: 25px;
  font-size: 29px;
  background-color: lightgrey;
  border-color: black;
}
.button_add {
  border-radius: 25px;
  border-width: 3px;
  width: 5%;
  padding: 10px;
  font-family: Verdana;
  font-size: 20px;
  color: #f1daf5;
  background-color: lightslategrey;
  border-color: black;
}
table {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 22px;
    border-spacing: 10px;
    border-radius: 25px;
    background-color: white;
    font-family: sans-serif;
    background:white;
}

 td {
  font-family: Verdana;
  font-size: 16px;
  letter-spacing: 0.6px;
  word-spacing: 6px;
  color: #f1daf5;
  font-weight: 400;
}
.to_do {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid;
  background-color: #8f1ca3;
  font-size: 25px;
  border-radius: 5px;
}
.to_do:hover {
  background-color: lightgrey;
  color: black;
  border-color: black;
}
.row {
    margin-top: 20px;
    height: 40px;
}
.priority_button {
    width: 40px;
    text-align: center;
    background-color: #8f1ca3;
    border: 2px solid;
    border-radius: 5px;
}
.priority_button:hover {
    background-color: yellow;
    color: black;
    border-color: white;
}
.complete_button {
    align: left;
    width: 40px;
    text-align: center;
    background-color: #8f1ca3;
    border-radius: 5px;
    border: 2px solid;
}
.complete_button:hover {
    background-color: lightblue;
    color: black;
    border-color: white;
}
.remove_button {
    align: left;
    width: 40px;
    text-align: center;
    background-color: #8f1ca3;
    border: 2px solid;
    border-radius: 5px;
}
.remove_button:hover {
    background-color: #ff4040;
    color: black;
    border-color: white;
}
body {
  background-color: #8f1ca3;

}
hr {
  width: 90%;
}

h3 {
  color: #f1daf5;
  font-align: center;
  font-size: 30px;
}
p {
  font-family: Verdana;
  font-size: 16px;
  color: #f1daf5;
  font-weight: 400;
  text-align: center;
}
